/* Stylish css for Chrome. Firefox doesn't support @imports.
   For more info see https://github.com/JasonBarnabe/stylish/issues/29.
   
   Each theme should be in a seperate stylish entry.
 */

/* Feedbin */
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,700);
@import url(https://fonts.googleapis.com/css?family=Bitter:400,700);

blockquote {
    margin: 20px 0 !important;
    color: #555555 !important;
}

blockquote p {
    line-height: 23px !important;
    font-size: 16px !important;
}

.entry-header a {
    font-family: 'PT Serif', sans-serif;
}

.entry-content img {
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 0 !important;
}

.entry-inner {
    margin: 0 20% !important;
    background-color: white !important;
}

.entry-inner div {
    /*margin: 0 0 30px !important;*/
    font-size: 16px !important;
    line-height: 23px !important;
    font-family: 'Bitter', serif !important;
}

.entry-inner h1, .entry-inner h2, .entry-inner h3, .entry-inner h4 {
    font-family: 'PT Serif', sans-serif !important;
    margin: 20px 0 !important;
}

.entry-inner h6 {
    /*margin: 0 0 30px !important;*/
    font-size: 16px !important;
    line-height: 23px !important;
    font-family: 'Bitter', serif !important;
    letter-spacing: 0px !important;
}

li {
    line-height: 23px !important;
}

/* Hacker News */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400);

body {
    /*background-color: #3b4f67 !important;*/
    background-color: #f1f1ef !important;
}

body, .pagetop, .title, .subtext, .comhead, input, textarea {
    font: 400 16px/20px 'Source Sans Pro', sans-serif !important;
}

table {
    padding: 10px !important;  
}

td {
    font-family: 'Source Sans Pro', sans-serif !important;
    color: #34495e !important;
}

.subtext {
	font-size: 12px !important;
}

.comment p, .comment font {
    font-family: 'Source Sans Pro', sans-serif !important;
    font-size: 13px !important;
    color: #34495e !important;
}

.comhead a, .comhead span, .comhead {
    color: #2c3e50 !important;
    font-weight: 400;
}
  
table {
    width: 800px !important;
    background-color: #f1f1ef;
}

.title a {
    color: #d35400 !important;
    font-weight: 400;
}

.title a:visited {
    color: #2c3e50 !important;  
}

.pagetop a {
    color: #d35400 !important    
}

.subtext a, .subtext span, td.subtext {
    color: #2c3e50 !important
}

form {
 	display: none !important; 
}
