/* Stylish css */

/* Feedbin */

@import url(https://fonts.googleapis.com/css?family=Merriweather);
@import url(https://fonts.googleapis.com/css?family=News+Cycle:700);

blockquote {
    margin: 20px 0 !important;
}

blockquote p {
    line-height: 23px !important;
}

.entry-header a {
    font-family: 'News Cycle', sans-serif;
}

.entry-content {
    background-color: whitesmoke !important;
}

.entry-inner {
    margin: 0 20% !important;
    background-color: white !important;
    box-shadow: 0 0 4px rgba(0,0,0,.3) !important;
}

.entry-inner div {
    /*margin: 0 0 30px !important;*/
    font-size: 14px !important;
    line-height: 23px !important;
    font-family: 'Merriweather', serif !important;
    font-weight: 400 !important;
}

.entry-inner h1, .entry-inner h2, .entry-inner h3 {
    font-family: 'News Cycle', sans-serif;
}

/* Hacker News */

body, .pagetop, .title, .subtext, .comhead, input, textarea {
    font: 500 16px/20px ubuntu, Helvetica, sans-serif !important;
}

.subtext {
    font-size: 12px !important;
}

/* Hacker News */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

body, .pagetop, .title, .subtext, .comhead, input, textarea {
    font: 500 14px/20px 'Open Sans', Helvetica, sans-serif !important;
}

.subtext {
	font-size: 12px !important;
}

.comment p, .comment font {
    font-family: 'Open Sans', sans-serif !important;
    color: #34495e !important;
}

.comhead a, .comhead span, .comhead {
    color: #1abc9c !important;
    font-weight: 600;
}
  
table {
    width: 800px !important;
    background-color: white;
}

.title a {
    color: #e67e22 !important;
    font-weight: 600;
}

.pagetop a {
    color: #d35400 !important    
}

.subtext a, .subtext span, td.subtext {
    color: #2c3e50 !important
}
