/* Stylish css for Chrome. Firefox doesn't support @imports.
   For more info see https://github.com/JasonBarnabe/stylish/issues/29.

   To work around, use greasemonkey to load fonts using Javascript.

   Each theme should be in a seperate stylish entry.
 */

/*
 * FEEDBIN --------------------------------------------------------------------
 */
@-moz-document domain('feedbin.me') {

  /* ---Fonts--- */
  
  .font-sans-serif-1 {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 300 !important;
  }
  
  .content-styles {
    font-weight: 300 !important;
  }
  
  .entry-header h1, .entry-header h2,
  .entry-header h3, .entry-header h4,
  .entry-header h5,
  .content-styles h1, .content-styles h2,
  .content-styles h3, .content-styles h4,
  .content-styles h5
  {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 600 !important;
    font-style: italic !important;
  }
  
  .content-styles h6 {
    font-weight: 300 !important;
  }
  
  .entry-header .post-meta {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 300 !important;
    font-size: 12px !important;
  }

  /* -Fonts END- */
  
  /* ---Anchor--- */
  
  .content-styles a {
    color:  rgb(0, 130, 218) !important;
    transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -webkit-transition: color .2s ease-in-out;
  }
  
  .content-styles a:hover {
    color: rgb(0, 186, 255) !important;
    text-decoration: none !important;
  }
  /* -Anchor END- */

  /* Mozilla based browsers */
  ::-moz-selection {
    background-color: rgb(51, 153, 255);
    color: #fff;
  }

  /* Works in Safari */
  ::selection {
    background-color: rgb(51, 153, 255);
    color: #fff;
  }

  .table-bordered > thead > tr > th,
  .content-styles table > thead > tr > th,
  .table-bordered > tbody > tr > th,
  .content-styles table > tbody > tr > th,
  .table-bordered > tfoot > tr > th,
  .content-styles table > tfoot > tr > th,
  .table-bordered > thead > tr > td,
  .content-styles table > thead > tr > td,
  .table-bordered > tbody > tr > td,
  .content-styles table > tbody > tr > td,
  .table-bordered > tfoot > tr > td,
  .content-styles table > tfoot > tr > td {
    border: 1px solid white !important;
  }

  /* Fix blockquote top margin */
  blockquote {
    margin: 20px 0 !important;
    /*color: #AAAAAA !important;*/
    font-style: italic !important;
    font-weight: 300 !important;
  }

  blockquote p {
  }

  /* Hide links at bottom of feedburner articles. */
  a[href^="http://feeds.feedburner.com"] {
    display: none !important;
  }

  /* Hide Ars Technica feed links */
  a[href^="http://feeds.arstechnica.com/~ff/"] {
    display: none !important;
  }

  /* Hide Ars Technica feed links */
  a[href^="http://feeds.macrumors.com/~ff/"] {
    display: none !important;
  }

  /* Hide Ars Technica feed links */
  a[href^="http://da.feedsportal.com"] {
    display: none !important;
  }
  
  /* Hide share links */
  a[href^="http://share.feedsportal.com/share/"] {
    display: none !important;
  }

}
/*
 * End of FEEDBIN
 */

/*
 * FEEDBIN Dark ---------------------------------------------------------------
 */
@-moz-document domain('feedbin.me') {

    /*---[ Dark Layout ]---*/
    .content-styles {
        color: #AAAAAA !important;
    }

    /* READ */
    .entries li[class=read] .title {
        color: #444444 important;
    }

    .entry-buttons {
        background-image: none !important;
    }

    .content-styles blockquote, .content-styles blockquote p {
        color: #AAAAAA !important;
    }

    .content-styles pre code {
        background-color: white !important;
        overflow: auto !important;
    }
    /*- _ -*/

    .entry-toolbar {
        background-color: #EFEFEF !important;
        border-bottom: 1px solid #111111 !important;
    }

    .entry-content {
        background-color: #272B30 !important;
    }

    .content-styles table {
        border: 1px solid #1C1E22 !important;
    }

    .table-bordered > thead > tr > th,
    .content-styles table > thead > tr > th,
    .table-bordered > tbody > tr > th,
    .content-styles table > tbody > tr > th,
    .table-bordered > tfoot > tr > th,
    .content-styles table > tfoot > tr > th,
    .table-bordered > thead > tr > td,
    .content-styles table > thead > tr > td,
    .table-bordered > tbody > tr > td,
    .content-styles table > tbody > tr > td,
    .table-bordered > tfoot > tr > td,
    .content-styles table > tfoot > tr > td {
        border: 1px solid #272B30 !important;
    }
    /*--[ End Dark Layout ]--*/

    /* Fix blockquote top margin */
    blockquote {
        margin: 20px 0 !important;
        color: #AAAAAA !important;
        font-style: italic !important;
    }

    blockquote p {
        line-height: 24px !important;
        /*font-size: 16px !important;*/
    }

    .entry-header a {
        font-family: 'Vollkorn', serif !important;
        font-style: italic !important;
    }
    
    .entry-header h1 {
        color: #CCCCCC !important; /* Dark theme */
        font-size: 48px !important;
    }
    
    .entry-header p {
        font-family: 'Open Sans', sans-serif !important;
        font-size: 12px !important;
    }

    /* Control Width */
    /*.entry-content img {
        margin-left: auto !important;
        margin-right: auto !important;
        padding: 0 !important;
    }

    .entry-inner {
        width: 600px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }*/

    .entry-inner div {
        /*margin: 0 0 30px !important;*/
        margin-bottom: 10px !important;
        /*font-size: 16px !important;*/
        line-height: 24px !important;
        font-family: 'Bitter', serif !important;
    }

    .entry-inner h2, .entry-inner h3, .entry-inner h4 {
        margin: 20px 0 !important;
    }

    .entry-inner h2 {
        font-size: 28px !important;
        line-height: 1.25em !important;
    }

    .entry-inner h3 {
        font-size: 26px !important;
        line-height: 1.25em !important;
    }

    .entry-inner h4 {
        font-size: 24px !important;
        line-height: 1.25em !important;
    }

    .entry-inner h5 {
        font-size: 22px !important;
        line-height: 1.25em !important;
    }

    .entry-inner h6 {
        /*margin: 0 0 30px !important;*/
        /*font-size: 16px !important;*/
        line-height: 24px !important;
        font-family: 'Bitter', serif !important;
        letter-spacing: 0px !important;
        font-weight: normal !important
        font-size: 1em !important;
    }

    li {
        line-height: 23px !important;
    }

    /* Hide links at bottom of feedburner articles. */
    a[href^="http://feeds.feedburner.com"] {
        display: none !important;
    }

    /* Hide Ars Technica feed links */
    a[href^="http://feeds.arstechnica.com/~ff/"] {
        display: none !important;
    }

    /* Hide Ars Technica feed links */
    a[href^="http://feeds.macrumors.com/~ff/"] {
        display: none !important;
    }

    /* Hide Ars Technica feed links */
    a[href^="http://da.feedsportal.com"] {
        display: none !important;
    }

}
/*
 * HACKER NEWS ----------------------------------------------------------------
 */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400);
@import url(https://fonts.googleapis.com/css?family=Bitter);

body {
    /*background-color: #3b4f67 !important;*/
    background-color: #384142 !important;
}

body, .pagetop, .title, .subtext, .comhead, input, textarea {
    font: 400 16px/20px 'Source Sans Pro', sans-serif !important;
}

table {
    padding: 10px !important;
}

td {
    font-family: 'Source Sans Pro', sans-serif !important;
    color: #34495e !important;
}

.subtext {
    font-size: 12px !important;
}

.comment p, .comment font {
    font-family: 'Source Sans Pro', sans-serif !important;
    font-size: 13px !important;
    color: #34495e !important;
}

.comhead a, .comhead span, .comhead {
    color: #384142 !important;
    font-weight: 400;
    font-family: 'Bitter', serif !important;
    font-style: italic !important;
}

center > table {
    width: 800px !important;
}

table {
    background-color: #f5f4f0;
}

.title a {
    color: #00b693 !important;
    font-weight: 400;
    font-family: 'Bitter', serif !important;
}

.title a:hover {
    border-bottom: 1px solid #ddd !important;
}

.title a:visited {
    color: #798C8E !important;
}

.pagetop b a {
    color: #00b693 !important;
}

.pagetop b a:hover {
    border-bottom: 1px solid #ddd !important;
}

.pagetop > a {
    color: #384142 !important;
}

.pagetop > a:hover {
    border-bottom: 1px solid #ddd !important;
}

.subtext a, .subtext span, td.subtext {
    color: #2B3233 !important;
}

.subtext a:hover {
    text-decoration: none !important;
    border-bottom: 1px solid #ddd !important;
}

.yclinks a {
    font-family: 'Source Sans Pro', sans-serif !important;
    font-size: 12px !imporant;
    color: #384142 !important;
}

a[href='http://ycombinator.com'] {
  display: none;
}

body > center > table > tbody > tr:first-child > td > table > tbody > tr:first-child > td > .pagetop {
    display: block;
    position: absolute;
    top: -100px;
}

body > center > table > tbody > tr:first-child > td > table > tbody > tr:first-child > td > .pagetop a {
    display: inline-block;
    position: relative;
    bottom: -123px;
    color: rgba(0, 0, 0, 0.6);
    font-style: italic;
}

body > center > table > tbody > tr:first-child > td > table > tbody > tr:first-child > td:nth-child(3n) > .pagetop {
    right: 0px;
}

body > center > table > tbody > tr:nth-child(n+4) {
    display:none !important;
}


body > center > table > tbody > tr:nth-child(n+2) > td > table tr:nth-child(3n+1) td {
    height: 20px;
    padding-top: 15px;
    vertical-align: top;
}
