@-moz-document domain('feedbin.me') {

  /* ---Fonts Sans Serif--- */
  .font-default {
    font-family: 'Source Sans Pro', sans-serif !important;
    font-weight: 400 !important;
  }
  
  .font-default .content-styles,
  .font-default .content-styles h6 {
    font-weight: 400 !important;
  }
  
  .font-default .entry-header h1,
  .font-default .content-styles h1,
  .font-default .content-styles h2,
  .font-default .content-styles h3,
  .font-default .content-styles h4,
  .font-default .content-styles h5
  {
    font-weight: 700 !important;
  }
  
  /* -Fonts Sans Serif END- */

  /* ---Font sizing--- */
  .entry-header .post-meta {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 300 !important;
    font-size: 12px !important;
  }
  /* -Font sizing END- */
  
  /* ---Anchor--- */
  .content-styles a {
    color:  rgb(0, 130, 218) !important;
    transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -webkit-transition: color .2s ease-in-out;
  }
  
  .content-styles a:hover {
    color: rgb(0, 186, 255) !important;
    text-decoration: none !important;
  }
  /* -Anchor END- */

  /* Mozilla based browsers */
  ::-moz-selection {
    background-color: rgb(51, 153, 255);
    color: #fff;
  }

  /* Works in Safari */
  ::selection {
    background-color: rgb(51, 153, 255);
    color: #fff;
  }

  /*image captions*/
  .content-styles > div:first-child > div div,
  .content-styles > div:first-child > div {
    margin-bottom: 10px !important;
    line-height: 1.6em !important;
  }
  
  .content-styles > p {
    line-height: 1.6em !important;
  }

  /* Hide share links */
  .table-bordered > thead > tr > th,
  .content-styles table > thead > tr > th,
  .table-bordered > tbody > tr > th,
  .content-styles table > tbody > tr > th,
  .table-bordered > tfoot > tr > th,
  .content-styles table > tfoot > tr > th,
  .table-bordered > thead > tr > td,
  .content-styles table > thead > tr > td,
  .table-bordered > tbody > tr > td,
  .content-styles table > tbody > tr > td,
  .table-bordered > tfoot > tr > td,
  .content-styles table > tfoot > tr > td {
    border: 1px solid white !important;
  }

  /* Fix blockquote top margin */
  blockquote {
    margin: 20px 0 !important;
    font-style: italic !important;
    font-weight: 300 !important;
    margin-left: 3px solid #CCCCCC !important;
  }

  /* Hide links at bottom of feedburner articles. */
  a[href^="http://feeds.feedburner.com"] {
    display: none !important;
  }

  /* Hide Ars Technica feed links */
  a[href^="http://feeds.arstechnica.com/~ff/"] {
    display: none !important;
  }

  /* Hide Ars Technica feed links */
  a[href^="http://feeds.macrumors.com/~ff/"] {
    display: none !important;
  }

  /* Hide Ars Technica feed links */
  a[href^="http://da.feedsportal.com"] {
    display: none !important;
  }
  
  /* Hide share links */
  a[href^="http://share.feedsportal.com/share/"] {
    display: none !important;
  }

}
