@-moz-document domain('news.ycombinator.com') {

    body {
        background-color: #384142 !important;
    }

    body, .pagetop, .title, .subtext, .comhead, input, textarea {
        font: 400 16px/20px 'Source Sans Pro', sans-serif !important;
    }

    table {
        padding: 10px !important;
    }

    td {
        font-family: 'Source Sans Pro', sans-serif !important;
        color: #34495e !important;
    }

    .subtext {
        font-size: 14px !important;
    }

    .subtext a, .subtext span, td.subtext {
        color: #2B3233 !important;
    }

    .subtext a:hover {
        text-decoration: none !important;
        border-bottom: 1px solid #ddd !important;
    }

    .comment {
        font-family: 'Source Sans Pro', sans-serif !important;
        font-size: 14px !important;
    }

    .comment p, .comment font {
        color: #34495e !important;
    }

    .comhead {
        display: inline-block !important;
        margin-left: 5px !important;
        font-size: 16px !important;
    }

    .comhead a, .comhead span, .comhead {
        color: #384142 !important;
        font-weight: 400;
        font-family: 'Bitter', serif !important;
        font-style: italic !important;
    }

    center > table {
        width: 800px !important;
    }

    table {
        background-color: #f5f4f0;
    }

    .title {
        font-weight: 400;
        font-family: 'Bitter', serif !important;
    }

    .title a {
        color: #00b693 !important;
    }

    .title a:hover {
        border-bottom: 1px solid #ddd !important;
    }

    .title a:visited {
        color: #798C8E !important;
    }

    .pagetop b a {
        color: #00b693 !important;
    }

    .pagetop b a:hover {
        border-bottom: 1px solid #ddd !important;
    }

    .pagetop > a {
        color: #384142 !important;
    }

    .pagetop > a:hover {
        border-bottom: 1px solid #ddd !important;
    }

    .yclinks a {
        font-family: 'Source Sans Pro', sans-serif !important;
        font-size: 12px !imporant;
        color: #384142 !important;
    }

    a[href='http://ycombinator.com'] {
        display: none;
    }

    body > center > table > tbody > tr:first-child > td > table > tbody > tr:first-child > td > .pagetop {
        display: block !important;
        position: absolute !important;
        top: -100px !important;
    }

    body > center > table > tbody > tr:first-child > td > table > tbody > tr:first-child > td > .pagetop a {
        display: inline-block;
        position: relative;
        bottom: -123px;
        color: rgba(0, 0, 0, 0.6);
        font-style: italic;
    }

    body > center > table > tbody > tr:first-child > td > table > tbody > tr:first-child > td:nth-child(3n) > .pagetop {
        right: 0px;
    }

    body > center > table > tbody > tr:first-child > td > table > tbody > tr:first-child > td:nth-child(1) {
        padding-right: 19px !important;
    }

    body > center > table > tbody > tr:nth-child(n+4) {
        display: none !important;
    }

    /* Spacing between items on main page */
    body > center > table > tbody > tr:nth-child(2n+1) > td > table > tbody > tr:nth-child(n+3) {
        height: 15px !important;
    }

    /* Align numbering */
    body > center > table > tbody > tr:nth-child(3) > td > table > tbody > tr:nth-child(3n+1) > td:nth-child(1) {
        display: box !important;
        padding-top: 2px !important;
        -moz-box-pack: end !important;
        -webkit-box-pack: end !important;
    }

    /* Hide upvote arrow*/
    /*body > center > table > tbody > tr:nth-child(3) > td > table > tbody > tr:nth-child(3n+1) > td:nth-child(2) {
    visibility: hidden !important;
    }*/

    pre {
        background-color: white !important;
        color: black !important;
    }
}
